In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from rake_nltk import Rake
import re

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.rename(columns={'id':'movie_id'},inplace=True)

df = pd.merge(movies,credits,on='movie_id')

In [6]:
df.head

<bound method NDFrame.head of          budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801          0                                                 []
4802          0                [{"id": 99, "name": "Documentary"}]

                                               homepage  movie_id  \
0                           http://www.avatarmovie.com/     19995
1          http://disney.go.com/disneypictures/pirates/       285
2           http://www.sonypictures.com/movies/spectre/    206647
3                    http://www.thedarkknightrises.com/     49026
4                  http://movies.disney.com/john-carter     49529
...                                                 ...       ...
4798                                                NaN      9367
4799                                                NaN     72766
4800  http://www.hallmarkchannel.com/signedsealeddel...    231617
4801                        http://shanghaicalling.com/    126186
4802                                                NaN     25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4798  [{"id": 5616, "name": "united states\u2013mexi...                es
4799                                                 []                en
4800  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4801                                                 []                en
4802  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bondâ€™s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4798  El Mariachi just wants to play his guitar and ...   14.269792
4799  A newlywed couple's honeymoon is upended by th...    0.642552
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4801  When ambitious New York attorney Sam is sent t...    0.857008
4802  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  ... runtime  \
0     [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3     [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4           [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0
...                                                 ...  ...     ...
4798           [{"name": "Columbia Pictures", "id": 5}]  ...    81.0
4799                                                 []  ...    85.0
4800  [{"name": "Front Street Pictures", "id": 3958}...  ...   120.0
4801                                                 []  ...    98.0
4802  [{"name": "rusty bear entertainment", "id": 87...  ...    90.0

                                       spoken_languages    status  \
0     [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1              [{"iso_639_1": "en", "name": "English"}]  Released
2     [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3              [{"iso_639_1": "en", "name": "English"}]  Released
4              [{"iso_639_1": "en", "name": "English"}]  Released
...                                                 ...       ...
4798      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]  Released
4799                                                 []  Released
4800           [{"iso_639_1": "en", "name": "English"}]  Released
4801           [{"iso_639_1": "en", "name": "English"}]  Released
4802           [{"iso_639_1": "en", "name": "English"}]  Released

                                                tagline  \
0                           Enter the World of Pandora.
1        At the end of the world, the adventure begins.
2                                 A Plan No One Escapes
3                                       The Legend Ends
4                  Lost in our world, found in another.
...                                                 ...
4798  He didn't come looking for trouble, but troubl...
4799  A newlywed couple's honeymoon is upended by th...
4800                                                NaN
4801                           A New Yorker in Shanghai
4802                                                NaN

                                       title_x vote_average vote_count  \
0                                       Avatar          7.2      11800
1     Pirates of the Caribbean: At World's End          6.9       4500
2                                      Spectre          6.3       4466
3                        The Dark Knight Rises          7.6       9106
4                                  John Carter          6.1       2124
...                                        ...          ...        ...
4798                               El Mariachi          6.6        238
4799                                 Newlyweds          5.9          5
4800                 Signed, Sealed, Delivered          7.0          6
4801                          Shanghai Calling          5.7          7
4802                         My Date with Drew          6.3         16

                                       title_y  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                                   cast  \
0     [{"cast_id": 242, "character": "Jake Sully", "...
1     [{"cast_id": 4, "character": "Captain Jack Spa...
2     [{"cast_id": 1, "character": "James Bond", "cr...
3     [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4     [{"cast_id": 5, "character": "John Carter", "c...
...                                                 ...
4798  [{"cast_id": 1, "character": "El Mariachi", "c...
4799  [{"cast_id": 1, "character": "Buzzy", "credit_...
4800  [{"cast_id": 8, "character": "Oliver O\u2019To...
4801  [{"cast_id": 3, "character": "Sam", "credit_id...
4802  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4798  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 23 columns]>

In [7]:
df.columns

Index(['budget', 'genres', 'homepage', 'movie_id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title_x', 'vote_average', 'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [8]:
df.drop(columns=['budget','homepage','original_language','revenue', 'runtime','spoken_languages','status','title_x','title_y','popularity','release_date','vote_average','vote_count'],inplace=True)

In [9]:
df.columns

Index(['genres', 'movie_id', 'keywords', 'original_title', 'overview',
       'production_companies', 'production_countries', 'tagline', 'cast',
       'crew'],
      dtype='object')

In [10]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:

import json
def json_decode(data,key):
    result=[]
    data=json.loads(data)
    for item in data:
        result.append(item[key])
    return (result)

In [12]:

df['genres']=df['genres'].apply(json_decode,key='name')

df['keywords']=df['keywords'].apply(json_decode,key='name')

df['production_companies']=df['production_companies'].apply(json_decode,key='name')

df['production_countries']=df['production_countries'].apply(json_decode,key='name')

df['cast']=df['cast'].apply(json_decode,key='name')

df['crew']=df['crew'].apply(json_decode,key='name')

In [13]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",Enter the World of Pandora.,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."

In [14]:


df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
genres                  4803 non-null object
movie_id                4803 non-null int64
keywords                4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
production_companies    4803 non-null object
production_countries    4803 non-null object
tagline                 3959 non-null object
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [15]:


df['tagline'].fillna('',inplace=True)
df['overview'].fillna('',inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
genres                  4803 non-null object
movie_id                4803 non-null int64
keywords                4803 non-null object
original_title          4803 non-null object
overview                4803 non-null object
production_companies    4803 non-null object
production_countries    4803 non-null object
tagline                 4803 non-null object
cast                    4803 non-null object
crew                    4803 non-null object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [17]:
def remove_spaces(row):
    x=[]
    for i in row:
        i=i.replace(' ','')
        i=i.lower()
        x.append(i)
    return(x)

In [18]:
df['genres'] = df['genres'].apply(remove_spaces).str.join(' ')

df['keywords'] = df['keywords'].apply(remove_spaces).str.join(' ')

df['production_countries'] = df['production_countries'].apply(remove_spaces).str.join(' ')

df['production_companies'] = df['production_companies'].apply(remove_spaces).str.join(' ')

df['cast'] = df['cast'].apply(remove_spaces).str.join(' ')

df['crew'] = df['crew'].apply(remove_spaces).str.join(' ')

df['overview'] = df['overview'].str.lower()

df['tagline'] = df['tagline'].str.lower()

df['original_title'] = df['original_title'].str.lower()

In [19]:
df.head(1)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,"in the 22nd century, a paraplegic marine is di...",ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,enter the world of pandora.,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...

In [21]:
from rake_nltk import Rake
r=Rake()
def extract_important_words(row):
    word = r.extract_keywords_from_text(row)
    word = r.get_ranked_phrases()
    return ' '.join(word)

In [22]:


df['overview'] = df['overview'].apply(extract_important_words)

df['tagline'] = df['tagline'].apply(extract_important_words)

df['keywords'] = df['keywords'].apply(extract_important_words)

In [23]:
df.head()

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,unique mission paraplegic marine moon pandora ...,ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,world pandora enter,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...
1,adventure fantasy action,285,slife traitor shipwreck strongwoman ship allia...,pirates of the caribbean: at world's end,long believed elizabeth swann come back captai...,waltdisneypictures jerrybruckheimerfilms secon...,unitedstatesofamerica,adventure begins world end,johnnydepp orlandobloom keiraknightley stellan...,dariuszwolski goreverbinski jerrybruckheimer t...
2,action adventure crime,206647,spy basedonnovel secretagent sequel mi6 britis...,spectre,terrible truth behind spectre secret service a...,columbiapictures danjaq b24,unitedkingdom unitedstatesofamerica,one escapes plan,danielcraig christophwaltz lÃ©aseydoux ralphfie...,thomasnewman sammendes annapinnock johnlogan j...
3,action crime drama thriller,49026,superhero villainess tragichero terrorism dest...,the dark knight rises,gotham city police department district attorne...,legendarypictures warnerbros. dcentertainment ...,unitedstatesofamerica,legend ends,christianbale michaelcaine garyoldman annehath...,hanszimmer charlesroven christophernolan chris...
4,action adventure sciencefiction,49529,basedonnovel mars medallion spacetravel prince...,john carter,reluctantly becomes embroiled former military ...,waltdisneypictures,unitedstatesofamerica,world lost found another,taylorkitsch lynncollins samanthamorton willem...,andrewstanton andrewstanton johnlasseter colin...

In [24]:
df['combined_features'] = df['genres']+' '+df['keywords']+' '+df['overview']+' '+df['production_companies']+' '+df['production_countries']+' '+df['tagline']+' '+df['cast']+' '+df['crew']

In [25]:
df.head(10)

,genres,movie_id,keywords,original_title,overview,production_companies,production_countries,tagline,cast,crew,combined_features
0,action adventure fantasy sciencefiction,19995,cultureclash future spacewar spacecolony socie...,avatar,unique mission paraplegic marine moon pandora ...,ingeniousfilmpartners twentiethcenturyfoxfilmc...,unitedstatesofamerica unitedkingdom,world pandora enter,samworthington zoesaldana sigourneyweaver step...,stephene.rivkin rickcarter christopherboyes ch...,action adventure fantasy sciencefiction cultur...
1,adventure fantasy action,285,slife traitor shipwreck strongwoman ship allia...,pirates of the caribbean: at world's end,long believed elizabeth swann come back captai...,waltdisneypictures jerrybruckheimerfilms secon...,unitedstatesofamerica,adventure begins world end,johnnydepp orlandobloom keiraknightley stellan...,dariuszwolski goreverbinski jerrybruckheimer t...,adventure fantasy action slife traitor shipwre...
2,action adventure crime,206647,spy basedonnovel secretagent sequel mi6 britis...,spectre,terrible truth behind spectre secret service a...,columbiapictures danjaq b24,unitedkingdom unitedstatesofamerica,one escapes plan,danielcraig christophwaltz lÃ©aseydoux ralphfie...,thomasnewman sammendes annapinnock johnlogan j...,action adventure crime spy basedonnovel secret...
3,action crime drama thriller,49026,superhero villainess tragichero terrorism dest...,the dark knight rises,gotham city police department district attorne...,legendarypictures warnerbros. dcentertainment ...,unitedstatesofamerica,legend ends,christianbale michaelcaine garyoldman annehath...,hanszimmer charlesroven christophernolan chris...,action crime drama thriller superhero villaine...
4,action adventure sciencefiction,49529,basedonnovel mars medallion spacetravel prince...,john carter,reluctantly becomes embroiled former military ...,waltdisneypictures,unitedstatesofamerica,world lost found another,taylorkitsch lynncollins samanthamorton willem...,andrewstanton andrewstanton johnlasseter colin...,action adventure sciencefiction basedonnovel m...
5,fantasy action adventure,559,slife forgiveness spider wretch deathofafriend...,spider-man 3,villain â€“ including nemesis eddie brock also g...,columbiapictures lauraziskinproductions marvel...,unitedstatesofamerica,battle within,tobeymaguire kirstendunst jamesfranco thomasha...,francinemaisler josephm.caracciolojr. samraimi...,fantasy action adventure slife forgiveness spi...
6,animation family,38757,hostage magic horse fairytale musical princess...,tangled,bandit flynn rider hides unlikely duo sets tak...,waltdisneypictures waltdisneyanimationstudios,unitedstatesofamerica,taking adventure new lengths,zacharylevi mandymoore donnamurphy ronperlman ...,johnlasseter jacobgrimm wilhelmgrimm johnkahrs...,animation family hostage magic horse fairytale...
7,action adventure sciencefiction,99861,marvelcomic sequel superhero basedoncomicbook ...,avengers: age of ultron,villainous ultron emerges unique global advent...,marvelstudios primefocus revolutionsunstudios,unitedstatesofamerica,new age come,robertdowneyjr. chrishemsworth markruffalo chr...,dannyelfman christopherboyes christopherboyes ...,action adventure sciencefiction marvelcomic se...
8,adventure fantasy family,767,witch magic broom schoolofwitchcraft wizardry ...,harry potter and the half-blood prince,"old book marked blood prince ', sixth year lor...",warnerbros. heydayfilms,unitedkingdom unitedstatesofamerica,dark secrets revealed,danielradcliffe rupertgrint emmawatson tomfelt...,brunodelbonnel stephaniemcmillan stuartcraig j...,adventure fantasy family witch magic broom sch...
9,action adventure fantasy,209112,dccomics vigilante superhero basedoncomicbook ...,batman v superman: dawn of justice,like super hero left unchecked new threat quic...,dccomics atlasentertainment warnerbros. dcente...,unitedstatesofamerica,revenge justice,benaffleck henrycavill galgadot amyadams jesse...,hanszimmer charlesroven christophernolan emmat...,action adventure fantasy dccomics vigilante su...

In [26]:
df.drop(columns=['movie_id','production_companies','production_countries','genres','keywords','overview','tagline','cast','crew'],inplace=True)

In [28]:
df.head(1)

  original_title                                  combined_features
0         avatar  action adventure fantasy sciencefiction cultur...

In [29]:
def clear(data):
    result=[]
    result.append(re.sub("[^a-z1-9]","",data))
    return result

In [30]:


df['title'] = df['original_title'].apply(clear).str.join('')

In [31]:
df.to_csv('final_data.csv',index=False)

In [32]:
df.head()

,original_title,combined_features,title
0,avatar,action adventure fantasy sciencefiction cultur...,avatar
1,pirates of the caribbean: at world's end,adventure fantasy action slife traitor shipwre...,piratesofthecaribbeanatworldsend
2,spectre,action adventure crime spy basedonnovel secret...,spectre
3,the dark knight rises,action crime drama thriller superhero villaine...,thedarkknightrises
4,john carter,action adventure sciencefiction basedonnovel m...,johncarter